// Datagrid tables (used in the INDEX page)
// ----------------------------------------------------------------------------
.content-table {
  overflow-x: auto;
}

table.datagrid {
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--table-cell-color);
  margin-bottom: 0;
  width: 100%;
}
.datagrid thead th {
  border: 0;
  box-shadow: inset 0 -2px 0 var(--table-cell-border-color);
  background-color: var( --table-thead-background-color);
  height: 46px;
 
  &:first-child{
    border-top-left-radius:10px;
    padding: 0px 0px 0px 26px;
  }
  &:last-child{
    border-top-right-radius:10px;
    width: 97px;
  }
}
.datagrid thead a, .datagrid thead span {
  color: var(--table-thead-text-color);
  display: block;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
}
.datagrid td {
  box-shadow: inset 0 1px 0 var(--table-cell-border-color);
  line-height: 20px;
  height: 60px;
  white-space: nowrap;
  max-width: 150px;
  background-color: var(--table-tbody-color);
  &:first-child{
    padding: 0px 0px 0px 26px;
  }
  &:last-child{
    max-width: 240px;
    min-width: 100px;
    padding: 0px 21.67px 0px 8px;
  }
  &.text-left {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.datagrid tbody {
  color: var(--table-tbody-text-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}
.datagrid thead + tbody tr:first-child td {
  box-shadow: none;
  background-color: var(--table-tbody-color);

}
.datagrid thead + tbody tr:last-child td {
  &:first-child{
    border-bottom-left-radius:10px;
  }
  &:last-child{
    border-bottom-right-radius:10px;
  }
  
}
.datagrid td.field-avatar {
  padding: 4px 8px;
}
.datagrid thead .sorted a, .datagrid thead .sorted span {
  font-weight: 700;
}
.datagrid thead i {
  color: var(--table-thead-marker-color);
  margin-left: 2px;
}
.datagrid thead .sorted {
  // box-shadow: inset 0 -2px 0 var(--color-primary);
}
.datagrid thead .sorted a, .datagrid thead .sorted span {
  // color: var(--table-thead-sorted-color);
}
.datagrid thead .sorted i {
  // color: var(--table-thead-sorted-marker-color);
}
.datagrid th, .datagrid td {
  border: none;
  vertical-align: middle;
}
.datagrid tbody tr:hover td, .datagrid tbody tr:hover th {
  background: var(--table-hover-cell-bg);
}
.datagrid tbody tr.selected-row td {
  background: var(--table-selected-cell-bg);
}
.datagrid td.actions {
}
.datagrid td.actions a:not(.dropdown-item) {
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.datagrid td.actions a:not(.dropdown-item) + a:not(.dropdown-item) {
  margin-left: 10px;
}
.datagrid td.actions .action-icon {
  font-size: var(--font-size-base);
  margin-right: 2px;
}

.datagrid {
  td.actions-as-dropdown {
    padding: 2px 8px;
  }
  tr:not(.selected-row):hover .dropdown-toggle {
    background: var(--white);
    border-color: var(--dropdown-toggle-border-color);
  }
  tr:hover .dropdown-toggle:hover {
    border-color: var(--dropdown-toggle-hover-border-color);
  }
  tr:hover .dropdown-toggle:focus, tr:hover .dropdown-toggle:active, tr:hover .dropdown-toggle:active:focus,
  .dropdown-toggle:focus, .dropdown-toggle:active, .dropdown-toggle:active:focus,
  tr:hover .dropdown-toggle.show, tr .dropdown-toggle.show, .dropdown-toggle.show {
    border-color: var(--dropdown-toggle-hover-border-color);
    box-shadow: var(--button-active-shadow);
    outline: none;
  }

  .dropdown-actions {
    .dropdown-toggle {
      border: 1px solid transparent;
      border-radius: var(--border-radius);
      color: var(--dropdown-toggle-color);
      padding: 3px 5px;

      // hides the caret added automatically by Bootstrap
      &:after { display: none; }
      &:hover { cursor: pointer; }

      svg { vertical-align: top; }
    }

    .dropdown-menu { z-index: var(--zindex-900); }
  }
}

.datagrid .ea-lightbox-thumbnail img {
  background: var(--white);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  max-height: 50px;
  max-width: 100px;
  padding: 2px 4px;
}
.datagrid tr:hover .ea-lightbox-thumbnail img {
  border-color: var(--border-color);
}

.datagrid mark {
  border-radius: var(--border-radius);
  background: var(--highlight-bg);
  box-shadow: 0 1px 0 rgba(250, 204, 21, 0.4);
  color: inherit;
  padding: 0 1px;
}

.datagrid .header-for-field-boolean {
  text-align: center;
}
.datagrid .field-boolean {
  text-align: center;

  &.has-switch {
    padding: 6px 8px;
  }

  .form-switch {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;

    input {
      margin-top: 0;
      position: relative;
      top: 3px;
    }
  }
}
.datagrid .form-check {
  margin-bottom: 0;
  min-height: 15px;
  padding-left: 0;
}

.datagrid .no-results td {
  font-size: var(--font-size-lg);
  padding: 24px 0;
  text-align: center;
}
.datagrid .no-results:hover td,
.datagrid .empty-row:hover td {
  background: transparent;
}
.datagrid .empty-row td {
  padding: 0 10px;
}
.datagrid .empty-row td:nth-child(1) { width: 20%; }
.datagrid .empty-row td:nth-child(2) { display: none; @media (min-width: 992px) { width: 5%; } }
.datagrid .empty-row td:nth-child(3) { width: 10%; }
.datagrid .empty-row td:nth-child(4) { width: 25%; }
.datagrid .empty-row td:nth-child(5) { width: 10%; }
.datagrid .empty-row td:nth-child(6) { width: 30%; }
.datagrid .empty-row td span {
  background: var(--gray-100);
  border-radius: var(--border-radius);
  display: block;
  height: 10px;
  margin: 13px 0;
  width: 100%;
}

.datagrid-row-empty td,
.datagrid tbody .datagrid-row-empty:hover td {
  background-color: transparent;
  background-image: linear-gradient(135deg, var(--gray-50) 25%, transparent 25%, transparent 50%, var(--gray-50) 50%, var(--gray-50) 75%, transparent 75%, transparent 100%);
  background-size: 40px 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.datagrid-row-empty-message {
  background: var(--white);
  border-radius: var(--border-radius);
  padding: 2px 4px;
}

.datagrid-header-tools {
  display: flex;
  padding: 0px 0px 10px;
}
.datagrid-header-tools .datagrid-search {
  flex: 1;
  max-width: 480px;
  margin-right: 15px;
}
.datagrid-header-tools .datagrid-search .form-group,
.datagrid-header-tools .datagrid-search .form-group .form-widget {
  flex: 1;
  margin: 0;
  padding: 0;
}

.datagrid-header-tools .datagrid-search input[type="search"].form-control {
  background-color: var(--white);
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23aaa" d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"/></svg>');
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 10px 8px;
  padding: 0 32px;
  min-width: 100%;
}

.datagrid-header-tools .datagrid-search .form-widget {
  position: relative;
}
.datagrid-header-tools .datagrid-search a.action-search-reset {
  color: var(--gray-500);
  padding: 4px 7px;
  position: absolute;
  right: 1px;
  top: 1px;
  text-decoration: none;
}
.datagrid-header-tools .datagrid-search a.action-search-reset:hover {
  color: var(--gray-700);
}

#modal-filters .modal-dialog {
  max-width: 400px;
}
#modal-filters .modal-content {
  background: var(--white);
}
#modal-filters .modal-header {
  background: var(--gray-50);
  border-bottom-color: var(--gray-300);
  padding: 10px 15px;
}
#modal-filters .modal-title {
  color: var(--gray-700);
  font-size: var(--font-size-base);
}
#modal-filters .modal-body {
  border-bottom: 0;
  padding: 15px;
}
.action-filters-button i {
  color: var(--text-color-light);
}
.action-filters-button.action-filters-applied i {
  color: var(--color-primary);
}
.action-filters-button span {
  font-weight: 600;
}
.action-filters-reset i {
  color: var(--text-color-light);
}
.filter-heading {
  align-items: center;
  display: flex;
  padding: 4px 0;
}
.filter-heading a {
  color: #6C757D;
  cursor: pointer;
  flex: 1;
  margin-left: 7px;
}
.filter-heading-title {
  padding: 10px 0;
  margin-left: -15px;
}
.filter-heading-buttons {
  padding: 8px 0;
}
.filter-selected {
  display: flex;
  background: #6C757D;
  border-radius: 4px;
  padding: 3px 6px 3px 5px;

  a {
    color: white;
  }

  .filter-input-selected {
    background-color: var(--table-paginator-bg-color);
    margin-left: 6px !important;
    margin-top: 3.7px !important;
    padding: 0;
    width: 1em;
    height: 0.90em;
    border-radius: 0.30em;
    cursor: pointer;
  }

  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 0.30em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
}
.filter-unselected {
  border-radius: 4px;
  padding: 3px 5px;
}
.filter-content {
  margin-top: 8px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  min-width: 220px;
}
.filter-content .form-group,
.filter-content .form-widget-compound .form-group {
  left: 0;
  position: relative;
  display: block;
  padding: 0 10px 5px 10px;
}
.filter-content .form-group:last-of-type {
  padding-bottom: 0;
}
.filter-content .form-widget-compound label {
  display: none;
}
.filter-content .form-widget-compound label.form-check-label {
  display: inline-block;
}
.filter-content .form-check-inline {
  align-items: flex-start;
  display: inline-flex;
}
.filter-content .form-check.form-check-inline {
  margin-top: 0;
}
// needed to hide the visual marker in the labels of required fields
.filter-content .form-group label.required:after {
  content: none;
}
.filter-content .field-choice .form-check + .form-check {
  margin-top: 4px;
}
.filter-content .field-choice .form-check-label {
  margin-top: 0;
}

.table.datagrid > :not(:first-child) {
  border-top-style: none;
}
