// Datalists (used in the DETAIL page)
// ----------------------------------------------------------------------------

.ea-detail .field-form_panel {
  padding-bottom: 35px;
}
.ea-detail .form-panel-header {
  box-shadow: none;
}

dl.datalist {
  margin-bottom: 0;
}
dl.datalist .data-row {
  box-shadow: inset 0 -1px var(--datalist-border-color);
  display: grid;
  grid-template-columns: 180px 1fr;
  padding: 8px;

  &:first-child {
    box-shadow: inset 0 -1px var(--datalist-border-color), inset 0 1px var(--datalist-border-color);
  }
}

dl.datalist dt {
  color: var(--datalist-label-color);
  font-weight: 400;
  margin-bottom: 0;
  padding-right: 10px;
}

dl.datalist dd {
  color: var(--datalist-value-color);
  margin-bottom: 0;
  overflow: auto;
}

dl.datalist .data-help {
  color: var(--gray-600);
  font-size: var(--font-size-sm);
  margin: 15px 0 0;
}
dl.datalist .data-help i {
  color: var(--datalist-label-color);
}

.field-code_editor pre {
  color: inherit;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-sm);
  line-height: 1.6;
  white-space: pre-wrap;
}
.field-textarea dd,
.field-text_editor dd {
  max-width: 80ch;
}

#select-page-size {
    width: 62px;
    padding-left: 8px;
    -moz-padding-start: calc(.75rem - 3px);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color-dark);
    background-color: var(--white);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: var(--border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
}