// Switches (toggles)
// ----------------------------------------------------------------------------

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(255, 255, 255, 1)'/%3E%3C/svg%3E");
  border-color: var(--gray-400);
  cursor: pointer;
  height: 31px;
  width: 51px;
  -webkit-appearance: none; // needed for Safari
  background-color: var(--form-switch-bg-color);
  &:checked {
    background-color: var(--form-switch-bg-color-checked);
  }
  &:not(:checked):focus {
    box-shadow: none;

  }
}
.form-switch .form-check-input[disabled] {
  cursor: not-allowed;
}
.form-switch .form-check-input:focus {
  box-shadow: none;
}
