doctrine:
    dbal:
        dbname: '%env(resolve:DB_NAME)%'
        host: '%env(resolve:DB_HOST)%'
        user: '%env(resolve:DB_USER)%'
        password: '%env(resolve:DB_PASSWORD)%'
        # url: '%env(resolve:DATABASE_URL)%'
        driver: 'pdo_oci'
        charset: AL32UTF8
        ## true para usar dbname como nombre de servicio en vez del SID para Oracle
        service: true
        # the DBAL driverClass option
        driver_class: App\Diba\Doctrine\Driver
        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '13'
        types:
           sillydatetime: App\Diba\Doctrine\Types\SillyDateTimeType
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        filters:
            softdeleteable:
                class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                enabled: true
        dql:
            string_functions:
                match: DoctrineExtensions\Query\Mysql\MatchAgainst
                replace: DoctrineExtensions\Query\Mysql\Replace

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'
when@prod:
    doctrine:
        dbal:
            # the DBAL driverClass option
            driver_class: App\Diba\Doctrine\Driver
        orm:
            auto_generate_proxy_classes: false
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
