{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends ea.templatePath('crud/new') %}
{% set template_form_theme = "crud/forms/lots_theme.html.twig" %}

{% block body_javascript %}
     <script type="text/javascript">
        $('#lots-multy-copies .form-select').removeClass('form-select');
        $('#add-lots-copies-input').keydown(function(e){
            if(e.keyCode == 13){
                e.preventDefault();

                $('#add-lots-copies-form').hide();

                var new_copy = $(this).val();

                if(new_copy) {
                    $('#Lots_copies').append($('<option>', {
                        value: new_copy,
                        text: new_copy,
                        selected: true
                    }));

                    $('#Lots_copies-ts-control').append(
                        '<div data-value="' + new_copy +'" class="item" data-ts-item="">' + new_copy + '<a href="#" data-value="' + new_copy +'" class="remove remove-copies-value">×</a></div>'
                    );                    
                }

                $('.ts-wrapper').removeClass('has-items').addClass('has-items');

                $('.remove-copies-value').on('click', function(){
                    e.preventDefault();
                    let $this = $(this);
                    let value = $this.data('value');

                    $this.parent().remove();
                    $('#Lots_copies option[value=' + value + ']').prop("selected", false);
                });

                $(this).val('');
            }
        });

        $('#add-lots-copies').on('click', function(e){
            $('#add-lots-copies-form').show();
        });
    
        $(document).ready(function() {
           $('#lots-multy-copies .ts-dropdown').remove();
        });

        function getBook(id) {
            $.ajax({
                url: '/api/book/'+ id ,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $('#Lots_authorship').val(data['autoria']);
                    $('#Lots_classification').val(data['classificacio']);
                    $('#Lots_bibliographic').val(data['codi bibliografic']);
                    $('#Lots_readBibliographic').val(data['codi bibliografic']);
                    $('#Lots_collection').val(data['colleccio']);
                    $('#Lots_description').val(data['descripcio fisica']);
                    //$('#Lots_authorship').val(data['idioma']);
                    $('#Lots_publication').val(data['publicacio']);
                    $('#Lots_signature').val(data['signatura']);
                    $('#Lots_title').val(data['titol']);
                    $('#Lots_isbn').val(data['isbn']);

                    $('#Lots_langCat').val(data['idioma']['cat'] ?? 0);
                    $('#Lots_langEs').val(data['idioma']['spa'] ?? 0);
                    $('#Lots_langAng').val(data['idioma']['eng'] ?? 0);
                    $('#Lots_langFra').val(data['idioma']['fra'] ?? 0);
                    $('#Lots_langAle').val(data['idioma']['deu'] ?? 0);
                    $('#Lots_langIta').val(data['idioma']['ita'] ?? 0);

                    $.each(data['codes'], function(index, copy) {
                        $('#Lots_copies').append($('<option>', {
                            value: copy,
                            text: copy,
                            selected: true
                        }));
                    
                        $('#Lots_copies-ts-control').append(
                            '<div data-value="' + copy +'" class="item" data-ts-item="">' + copy + '<a href="#" data-value="' + copy +'" class="remove remove-copies-value">×</a></div>'
                        );
                    });                    
                }
            });
        };

        $('#Lots_exemplar').on('change', function(e){
            getBook($(this).val());
        });
        $('#Lots_exemplar').keydown(function(e){
            if(e.keyCode == 13){
                e.preventDefault();
            }
        });
    </script>
{% endblock body_javascript %}
