<div id="modal-filters" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body p-0">
                {# The filters form will be loaded via AJAX for better performance #}
                {# See default/filters.html.twig template #}
            </div>
        </div>
    </div>
</div>
